.*
~*
*.sh
dist/
build/
*.py[cod]
*.patch
*.egg-info
*.sqlite*
uv.lock
!.git
!tests/.coveragerc
!.github
!.flake8
!.gitignore
!.github/
!.mypy.ini
!.pre-commit-config.yaml
!bandit.yaml
coverage.xml
Makefile
